---
---
<!DOCTYPE html>
<html lang="en" id="top">

<head>
	<meta charset="utf-8">
	<title>{{ site.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css" id="hljs-theme">
	<style>
		#typography {
			margin-top: -3rem;
		}
	</style>
</head>

<body data-spy="scroll" data-target="#my-navbar" data-offset="100">
	{% include header.html %}
	{% include navigation.html %}
	{% include sections.html %}
	{% include scripts.html %}
</body>

</html>