<main>
	{% for section in site.data.sections %}
		<section class="mb-5 pt-5" id="{{ section.name | handleize | replace: ' ', '-' | downcase }}">
			<div class="row bg-light py-4 mb-5">
				<div class="container">
					<div class="d-flex justify-content-between">
							<h2>
								<span class="fa fa-{{ section.icon }} mr-1"></span>
								{{ section.name }}
							</h2>
							<h2>
								{% for d in section.docs %}
									<a href="https://getbootstrap.com/docs/4.1/{{ d.link }}/" target="_blank"
									data-toggle="tooltip" data-placement="bottom" title="{{ d.text }} docs"><span class="fa fa-book fw"></span></a>
								{% endfor %}
								<a href="#top" class="ml-3"><span class="fa fa-chevron-up fw"></span></a>
							</h2>
					</div>

				</div>
			</div>
			<div class="container">
				{% include section/{{ section.name | handleize | replace: ' ', '-' | downcase }}.html %}
			</div>
		</section>
	{% endfor %}
</main>