<main>
	<section class="bg-warning py-2 text-center">
		<strong>Under development! 😎</strong>
	</section>

	{% for section in site.data.sections %}
		<section class="mb-5 pt-5" id="{{ section.name | handleize | downcase }}">
			<div class="row bg-light py-4 mb-5">
				<div class="container">
					<div class="d-flex justify-content-between">
							<h2>
								<span class="fa fa-{{ section.icon }} mr-1"></span>
								{{ section.name }}
							</h2>
							<h2><a href="#top"><span class="fa fa-chevron-up"></span></a></h2>
					</div>

				</div>
			</div>
			<div class="container">
				{% include section/{{ section.name | handleize | downcase }}.html %}
			</div>
		</section>
	{% endfor %}
</main>