{% capture colors %}{{ site.data.colors | join: " " }} link{% endcapture %}
{% assign colors = colors | split: " " %}
<div class="row px-5">
	<div class="col-12">
		<h3 class="mt-5">General buttons</h3>
		<div class="my-1">
			{% for color in colors %}
				{% if color == "white" %}{% continue %}{% endif %}
				<button class="btn btn-{{ color }}">{{ color | capitalize }}</button>
			{% endfor %}
			<button class="btn">Default</button>
		</div>
		<div class="my-1">
			{% for color in colors %}
				{% if color == "white" %}{% continue %}{% endif %}
				<button class="btn btn-{{ color }} active">{{ color | capitalize }}</button>
			{% endfor %}
			<button class="btn active">Default</button>
		</div>
		<div class="my-1">
			{% for color in colors %}
				{% if color == "white" %}{% continue %}{% endif %}
				<button class="btn btn-{{ color }}" disabled>{{ color | capitalize }}</button>
			{% endfor %}
			<button class="btn" disabled>Default</button>
		</div>

		<h3 class="mt-5">Outline buttons</h3>
		<div class="my-1">
			{% for color in site.data.colors %}
				{% if color == "white" %}{% continue %}{% endif %}
				<button class="btn btn-outline-{{ color }}">{{ color | capitalize }}</button>
			{% endfor %}
		</div>
		<div class="my-1">
			{% for color in site.data.colors %}
				{% if color == "white" %}{% continue %}{% endif %}
				<button class="btn btn-outline-{{ color }} active">{{ color | capitalize }}</button>
			{% endfor %}
		</div>
		<div class="my-1">
			{% for color in site.data.colors %}
				{% if color == "white" %}{% continue %}{% endif %}
				<button class="btn btn-outline-{{ color }}" disabled>{{ color | capitalize }}</button>
			{% endfor %}
		</div>
	</div>
	<div class="col-md-6">
		<h3 class="mt-5">Sizes</h3>
		<div class="my-1">
			<button type="button" class="btn btn-primary btn-lg">Large button</button>
			<button type="button" class="btn btn-primary">Normal button</button>
			<button type="button" class="btn btn-primary btn-sm">Small button</button>
		</div>
	</div>
	<div class="col-md-6">
		<h3 class="mt-5">Groups and dropdown</h3>
		<div class="btn-toolbar my-1" role="toolbar" aria-label="Toolbar with button groups">
			<div class="btn-group mr-2" role="group" aria-label="First group">
				<button type="button" class="btn btn-secondary">1</button>
				<button type="button" class="btn btn-secondary">2</button>
				<button type="button" class="btn btn-secondary">3</button>
			</div>

			<div class="btn-group mr-2" role="group" aria-label="Button group with nested dropdown">
				<button type="button" class="btn btn-secondary">4</button>
				<button type="button" class="btn btn-secondary">5</button>

				<div class="btn-group" role="group">
					<button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Dropdown
					</button>
					<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
						<a class="dropdown-item" href="#">Dropdown link</a>
						<a class="dropdown-item" href="#">Dropdown link</a>
					</div>
				</div>
			</div>

			<div class="btn-group">
				<button type="button" class="btn btn-secondary">Action</button>
				<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="sr-only">Toggle Dropdown</span>
				</button>
				<div class="dropdown-menu dropdown-menu-right">
					<h6 class="dropdown-header">Dropdown header</h6>
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item disabled" href="#">Disabled link</a>
					<a class="dropdown-item" href="#">Something else here</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Separated link</a>
				</div>
			</div>
		</div>
	</div>

	<div class="col-12">
		<h3 class="mt-5">Pagination</h3>
		<nav aria-label="Pagination example">
			<ul class="pagination">
				<li class="page-item disabled">
					<span class="page-link">Previous</span>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item active">
					<span class="page-link">
						2
						<span class="sr-only">(current)</span>
					</span>
				</li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#">Next</a>
				</li>
			</ul>
		</nav>
	</div>
</div>