<div class="row px-5">
	<div class="col-12">
		<h3 class="mt-5">Responsive image</h3>
		<img data-src="holder.js/100px250" alt="responsive image" class="img-fluid">
	</div>
	<div class="col-md-6">
		<h3 class="mt-5">Thumbnail</h3>
		<img data-src="holder.js/200x200" alt="thumbnail image" class="img-thumbnail">
	</div>
	<div class="col-md-6">
		<h3 class="mt-5">Figure</h3>
		<figure class="figure">
			<img data-src="holder.js/300x200" class="figure-img img-fluid rounded" alt="Figure">
			<figcaption class="figure-caption">A caption for the above image.</figcaption>
		</figure>
	</div>
	<div class="col-12">
		<h3 class="mt-5">Media</h3>
		<div class="media">
			<img class="d-flex mr-3" data-src="holder.js/64x64" alt="Generic placeholder image">
			<div class="media-body">
				<h5 class="mt-0">Media heading</h5>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
				vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
				faucibus.

				<div class="media mt-3">
					<a class="d-flex pr-3" href="#">
				  <img data-src="holder.js/64x64" alt="Generic placeholder image">
				</a>
					<div class="media-body">
						<h5 class="mt-0">Media heading</h5>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
						vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
						in faucibus.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>