<div class="row px-5">
	<div class="col-12">

	</div>
	<div class="col-md-6">
		<h3 class="mt-5">...with actions and colors</h3>
		<div class="list-group">
			<button type="button" class="list-group-item list-group-item-action">This is a regular list group item</button>
			{% capture colors %}active disabled {{ site.data.colors | join: " " }}{% endcapture %}
			{% assign colors = colors | split: " " %}
			{% for color in colors %}
				{% if color == "white" %}{% continue %}{% endif %}
				<button type="button" class="list-group-item list-group-item-action list-group-item-{{ color }}" >
					This is a(n) {{ color }} list group item
				</button>
			{% endfor %}
		</div>
	</div>
	<div class="col-md-6">
		<h3 class="mt-5">...with custom content</h3>
		<div class="list-group">
			<a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">List group item heading</h5>
					<small>3 days ago</small>
				</div>
				<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
				<small>Donec id elit non mi porta.</small>
			</a>
			<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">List group item heading</h5>
					<small class="text-muted">3 days ago</small>
				</div>
				<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
				<small class="text-muted">Donec id elit non mi porta.</small>
			</a>
			<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">List group item heading</h5>
					<small class="text-muted">3 days ago</small>
				</div>
				<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
				<small class="text-muted">Donec id elit non mi porta.</small>
			</a>
		</div>
	</div>
</div>