<div class="row px-5">
	<div class="col-md-6">
		<h3 class="mt-5">Popovers</h3>
		<button type="button" class="btn btn-primary my-5" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?" id="popover-toggler">
			Toggle popover
		</button>
	</div>
	<div class="col-md-6">
		<h3 class="mt-5">Tooltips</h3>
		<button type="button" class="btn btn-primary my-5" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
			Tooltip on right
		</button>
	</div>
</div>