<div class="row px-5">
	<div class="col-md-6">
		<h3 class="mt-5">Table</h3>
		{% include generator/table.html tableClasses="table-bordered table-striped table-hover" %}
	</div>
	<div class="col-md-6">
		<h3 class="mt-5">Inversed table</h3>
		{% include generator/table.html tableClasses="table-bordered table-striped table-hover table-dark" %}
	</div>
</div>
<div class="row px-5">
	<div class="col-md-6">
		<h3 class="mt-5">Table with colors</h3>
		<p><strong>Note: </strong> Use <code>table-*</code> classes.</p>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Type</th>
					<th>Column heading</th>
					<th>Column heading</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">Default</th>
					<td>Column content</td>
					<td>Column content</td>
				</tr>
				{% capture colors %}active {{ site.data.colors | join: " " }}{% endcapture %}
				{% assign colors = colors | split: " " %}
				{% for color in colors %}
					{% if color == "white" %}{% continue %}{% endif %}
					<tr class="table-{{ color }}">
						<th scope="row">{{ color | capitalize }}</th>
						<td>Column content</td>
						<td>Column content</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<h3 class="mt-5">Inversed table with colors</h3>
		<p><strong>Note: </strong> Use <code>bg-*</code> and <code>text-*</code> classes.</p>
		<table class="table table-hover table-dark">
			<thead>
				<tr>
					<th>Type</th>
					<th>Column heading</th>
					<th>Column heading</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">Default</th>
					<td>Column content</td>
					<td>Column content</td>
				</tr>
				{% for color in site.data.colors %}
					{% if color == "white" %}{% continue %}{% endif %}
					{% capture textClass %}{% if color == "light" or color == "warning" %}text-dark{% endif %}{% endcapture %}
					<tr class="bg-{{ color }} {{ textClass }}">
						<th scope="row">{{ color | capitalize }}</th>
						<td>Column content</td>
						<td>Column content</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="row px-5">
	<div class="col-md-6">
		<h3 class="mt-5">Default header</h3>
		{% include generator/table.html theadClasses="thead-light" %}
	</div>
	<div class="col-md-6">
		<h3 class="mt-5">Inversed header</h3>
		{% include generator/table.html theadClasses="thead-dark" %}
	</div>
</div>
<div class="row px-5">
	<div class="col-md-6">
		<h3 class="mt-5">Small table</h3>
		{% include generator/table.html tableClasses="table-sm" %}
	</div>
</div>